# dependencies
/node_modules

# build
/dist

# logs
/logs

# development runtime discovery
/.artgen-dev

# environment files
.env
.env.development
.env.production
.env.bak

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo
